* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* Heading */

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #007bff;
  color: #fff;
}

.header h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Background Image */
#background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url("https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  background-position: center;
  filter: blur(5px);
}

/* Quote Box */
.quote-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.quote {
  width: 85%;
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
  position: relative;
}

.quote p {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.quote #author {
  font-size: 18px;
  color: #666;
  margin-top: 10px;
}

/* Buttons */

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  box-shadow: inset 0 0 0 0 #0062cc;
  transition: background-color 0.3s ease;
}

.action-buttons {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: space-between;
}

.copiedDivBtn {
  position: absolute;
  background: #000;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.social-share {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: space-between;
}

#new-quote {
  background-color: #28a745;
}

#new-quote:hover {
  background-color: #1e7e34;
}

#copy {
  background-color: #007bff;
}

#copy:hover {
  background-color: #0062cc;
}

#export {
  background-color: #dc3545;
}

#export:hover {
  background-color: #c82333;
}

#tweet {
  background-color: #1da1f2; /* twitter blue */
}

#tweet:hover {
  background-color: #0c7cd5; /* darker twitter blue */
}

#share {
  background-color: #25d366; /* whatsapp green */
}

#share:hover {
  background-color: #1db954; /* darker whatsapp green */
}

/* Footer Section */

footer {
  text-align: center;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  margin-top: 1.5rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

footer p {
  margin: 0;
  font-size: 1rem;
  color: #fff;
}

/* Footer Icons */

.footer-icons {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  gap: 10px;
}

.footer-icons a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.footer-icons a:hover {
  color: #ddd;
  transition: color 0.3s ease;
  scale: 1.5;
}

/* Media Queries */

@media (max-width: 600px) {
  .header h1 {
    font-size: 1rem;
  }

  .quote {
    width: 80%;
    max-width: 400px;
  }

  .quote p {
    font-size: 20px;
  }

  .quote #author {
    font-size: 16px;
  }

  .buttons button {
    padding: 8px 16px;
    font-size: 14px;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  footer p {
    font-size: 0.8rem;
    align-self: center;
  }

  .footer-icons a {
    font-size: 0.8rem;
  }
}
